{% extends "layout.html" %}

{% block content %}

    <div class="main-content">

        <form action="" method="post">
            {{ form.hidden_tag() }}

            <fieldset class="mb-3">

                <legend class="border-bottom mb-4">Edit Item</legend>

                <div class="mb-3">
                    {{ form.item_name.label(class="form-label") }}

                    {%if form.item_name.errors %}
                        {{ form.item_name(class="form-control form-control-lg bg-dark bg-gradient text-white is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.item_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>

                    {% else %}
                        {{ form.item_name(class="form-control form-control-lg bg-dark bg-gradient text-white") }}
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.item_price.label(class="form-label") }}
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-dark bg-gradient text-white">R</span>

                        {%if form.item_price.errors %}
                            {{ form.item_price(class="form-control form-control-lg bg-dark bg-gradient text-white is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.item_price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ form.item_price(class="form-control form-control-lg bg-dark bg-gradient text-white") }}
                        {% endif %}
                    </div>
                </div>

                <div class="mb-3">
                    {{ form.item_quantity.label(class="form-label") }}

                    {%if form.item_quantity.errors %}
                        {{ form.item_quantity(class="form-control form-control-lg bg-dark bg-gradient text-white is-invalid") }}

                        <div class="invalid-feedback">
                            {% for error in form.item_quantity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.item_quantity(class="form-control form-control-lg bg-dark bg-gradient text-white") }}
                    {% endif %}
                </div>

            </fieldset>

            <div class="d-grid gap-2 col-6 mx-auto">
                {{ form.save_btn(class="btn btn-outline-info") }}
            </div>
        </form>



    </div>

{% endblock content%}